@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sens-serif;
}

.Home,
.Contact,
.ShowOffPage {
  display: flex;
  height: 90vh;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}

.Contact {
  background-image: url(http://images.unsplash.com/photo-1471879832106-c7ab9e0cee23?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
  background-size: cover;
}

/* studies starts */

.Studies {
  display: grid;
  grid-template-columns: 16% 70%;
  /* grid-column-gap: 1em;
  grid-row-gap: 1em; */
  grid-gap: 1em;
  background-color: rgba(7, 58, 0, 0.378);
  background-size: cover;
  border: 5px solid rgba(7, 58, 0, 0.378);
  border-bottom: 35em solid rgba(7, 58, 0, 0.378);
}

.Studies > div {
  padding: 1.5em;
  background: #fff;
}

.Studies > div :nth-child(odd) {
  background: #eee;
}

#scoala-img {
  width: 100px;
}

/* studies ends */

/* home starts */

.Home {
  --clr-neon: hsl(100 40% 50%);
  --clr-bg: hsl(500 10% 10%);
}

.Home,
.Home::before,
.Home::after {
  box-sizing: border-box;
}

.neon-button {
  font-size: 3rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

/* home ends */

/* about me start */

.AboutMe {
  display: grid;
  grid-column: 2;
  align-items: center;
  grid-template-columns: 40% 60%;
  background-color: rgba(7, 58, 0, 0.378);
  background-size: cover;
  border: 5px solid rgba(7, 58, 0, 0.378);
  border-bottom: 3em solid rgba(7, 58, 0, 0.378);
  font-size: 3rem;
}

.photosAbout {
  display: flex;
  height: 600px;
  margin-left: 40px;
  border: 2px solid black;
}

.bigDogsDiv {
  position: relative;
  width: 30rem;
}

.aboutMeLeftWrite {
  margin-left: 2em;
}

/* about me ends */
